div{

	background: red;
	width: 100px;
	height: 100px;
}
p{
	box-sizing: border-box;
	background: blue;
	width: 50%;
	height: 50%;

}
.one{
	margin-left: 50%;
	margin-bottom: 0px;
}
.two{
	margin: 0px;
}