body{
	background-image: url(https://www.biletik.aero/upload/resize_cache/format_converted/219dff80c562baf68b52f463ceac36a2.webp);
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	width: 50%;
	margin: 0 auto;
}
h2{
	margin: 0 0 60px 0;
	padding-top: 80px;
	text-align: center;
	font-size: 50px;
	color: #FF4500;
	font-family: 'Lobster', cursive;
}
p{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: white;
}
button{
	background: black;
	padding: 5px;
}
a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}
button a:hover{
	color: yellow;
}